#home {
  padding: 20px 0 40px;
}
.mobile {
  display: none;
}
#search {
  background: linear-gradient(150deg,#19a0ff,#2d1582);
  background-attachment: fixed;
  height: 124px;
  padding: 20px 25px;
  border-radius: 4px;
  margin-bottom: 20px;
  .searchTitle {
    color: #ffffff;
    line-height: 1.5;
    padding-bottom: 10px;
    font-size: 16px;
    span {
      color: #ffffff;
      font-size: 14px;
      font-weight: normal;
      a {
        text-decoration: underline dashed #ffffff;
        color: #ffffff;
        font-size: 14px;
        &:hover {
          color: hsla(0,0%,100%,.8);
          border-color: hsla(0,0%,100%,.8);
        }
      }
    }
  }
  .form {
    display: flex;
  }
  .inputBox {
    background: #ffffff;
    border-radius: 4px 0 0 4px;
    height: 48px;
    flex:1;
    position: relative;
    z-index: 10;
    input {
      padding: 13px 20px 11px;
      box-sizing: border-box;
      line-height: 48px;
      height: 48px;
      width: 100%;
      border: 1px solid #d5dae2;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
  }
  span.btn {
    flex-basis: 80px;
    background: #3498db;
    text-align: center;
    line-height: 48px;
    border-radius: 0 4px 4px 0;
    color: #ffffff;
    cursor: pointer;
  }
  .results {
    margin-top: 0px;
    border: thin solid #e7eaf3;
    border-radius: .125rem;
    box-shadow: 0 2px 16px 8px rgba(140,152,164,.135);
    background: #fff;
    li {
      padding: 4px 8px;
      .searchItem {
        display: block;
        padding: 6px 12px;
        &:hover {
          background-color: #3498db;
          border-radius: 2px;
          p {
            color: #fff;
          }
        }
      }
    }
    p {
      padding-bottom: 0;
      line-height: 20px;
      color: #333333;
    }
  }
}
#last {
  display: flex;
  padding: 15px 0;
  border-radius: 4px;
  margin-bottom: 20px;
  &>div {
    flex: 1;
    padding: 0 25px;
    &:first-child {
      border-right: 1px solid #e7eaf3;
    }
    hr {
      margin-top: 20px;
      margin-bottom: 20px;
      opacity: 0.75;
      border: 0;
      border-top: 1px solid #e7eaf3;
    }
    &>div {
      display: flex;
      figure {
        width: 26px;
        margin-right: 10px;
        line-height: 40px;
        img {
          width: 100%;
          vertical-align: middle;
        }
      }
      p {
        font-size: 14px;
        line-height: 20px;
        &.home_title {
          color: #77838f;
          text-transform: uppercase;
        }
      }
    }
    .detail {
      width: 100%;
      line-height: 20px;
      a {
        color: #1e2022;
        &:hover {
          color: #3498db;
        }
      }
    }

  }
}
#lists {
  font-size: 13px;
  &>div {
    margin-left: 20px;
    width: calc(50% - 10px);
    &:first-child {
      margin-left: 0;
    }
    h3 {
      line-height: 44px;
      padding: 0 10px;
      border-bottom: 1px solid #e7eaf3;
      font-size: 14px;
      color: #4a4f55;
      font-weight: bold;
    }
    .scrollBox {
      height: 400px;
      width: calc(100% - 20px);
      background: none;
      overflow: auto;
      margin-right: 0;
      padding-right: 0;
      margin: 0 10px;
      box-sizing: border-box;
      position: relative;
    }
    
  }
  .lists {
    width: 100%;
    height: 400px;
    .hashLink {
      max-width: 140px;
    }
    li {
      padding: 12px 0;
      height: 64px;
      border-bottom: 1px solid #e7eaf3;
      display: flex;
      .flex1 {
        flex: 1;
        display: flex;
        .bk, .Tx {
          width: 40px;
          margin-right: 10px;
          height: 40px;
          background: rgba(119,131,143,.1);
          color: #1e2022;
          text-align: center;
          line-height: 40px;
          font-size: 14px;
        }
        .Tx {
          border-radius: 20px;
        }
      }
      .flex2 {
        flex: 2;
      }
      p {
        font-size: 13px;
        line-height: 20px;
      }
      .fee {
        float: right;
        position: relative;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        color: #77838f;
        background-color: rgba(119,131,143,.1);
        height: 26px;
        line-height: 26px;
        font-size: 13px;
        padding: 0 10px 0 20px;
        &::after {
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          border-top: 13px solid transparent;
          border-bottom: 13px solid transparent;
          border-left: 13px solid #fff;
        }
      }
    }
  }
  .all {
    height: 54px;
    padding: 12px 10px;
    a {
      display: block;
      height: 30px;
      line-height: 30px;
      width: 100%;
      text-align: center;
      color: #3498db;
      background: rgba(52,152,219,.1);
      font-size: 12px;
      &:hover {
        color: #fff;
        background: #3498db;
        box-shadow: 0 4px 11px rgba(52,152,219,.35);
      }
    }
  }
}

@media (max-width: 1200px) {
  #lists {
    .lists {
      .hashLink {
        max-width: 120px;
      }
    }
  }
}
@media (max-width: 992px) {
  #last {
    display: block;
    &>div {
      width: 100%;
    }
    .mobile {
      display: block;
    }
  }
  #lists {
    &>div {
      width: 100%;
      margin-left: 0;
      .lists {
        .hashLink {
          max-width: 80px;
        }
        .bkNo {
          p {
            line-height: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #search {
    .searchTitle {
      span {
        display: none;
      }
    }
  }
}